setuptools_scm
numpy>=1.21.0;python_version>="3.8"
numpy<1.22.*;python_version<"3.8"
astropy;python_version>="3.8"
astropy<5.*;python_version<"3.8"
h5py
pandas;python_version>="3.8"
pandas<1.4.*;python_version<"3.8"
pyarrow
tables
mpi4py
